{% extends 'main.html' %}

{% block title %}
    <title>
        Useful Links For Teachers | Gov. Secondary School Babarkot
    </title>
{% endblock title %}

{% block content %}
    <div class="cal container text-center text-white">
        <p class="fs-2 fw-bold mt-3">
            શિક્ષકો માટે ઉપયોગી લિંક્સ
        </p>
    
        <div class="border border-white border-5 p-3" style="border-radius: 20px;">
            <form method="post">
                <div class="d-flex mb-3">
                        {% csrf_token %}
                        <input type="text" class="form-control me-2 " name="filter" placeholder="Search Link">
                        <button type="submit" class="btn btn-light" style="color: #0099ff;"><i class="bi bi-filter-circle-fill"></i></button>
                </div>
            </form>
                
            {% for links in link %}

                <div class="bg-white p-4 mb-3" style="border-radius: 20px;">
                    <p class="fs-4 term text-dark">{{links.term}}</p>
                    <a href="{{links.link}}" class="btn btn-dark text-white w-100" style="border-radius: 15px;">Visit <i class="bi bi-box-arrow-up-right"></i></a>
                </div>
                
            {% endfor %}
                
        </div>
    </div>
    <style>
        @media only screen and (min-width : 1224px) {
            .cal{
                width: 50%;
            }
    /* Styles */
    }
  body,.push,.wrapper{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6DD5FA, #0099ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6DD5FA, #0099ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  .term{
    background: -webkit-linear-gradient(#6DD5FA, #0099ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    </style>
{% endblock content %}
    
    